// COLORS
$color-primary-dark: #0f2027;
$color-primary: #203a43;
$color-primary-light: #2c5364;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-text-01: rgb(84, 74, 125);
$color-text-02: rgb(255, 212, 82);

$color-text-secondary-01: #83a4d4;
$color-text-secondary-02: #b6fbff;

$color-text-red-light: #ed213a;
$color-text-red-dark: #93291e;
// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
