//Colors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary: #ff7730;
// $color-secondary-dark: #ff7730;
$color-tertiary: #5643fa;
$color-tertiary-light: #2998ff;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
