.loader_bg {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  // padding: -3rem;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -7.8vh;
  margin-top: -7.8vh;

  &::before,
  &::after {
    content: "";
    border: 1em solid #f05353;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
  }
  &::before {
    animation-delay: 0.5s;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
